* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-primary {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.primary-left {
  width: 75%;
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.logo-language {
  display: flex;
  background-color: blue;
  justify-content: space-evenly;
}

.logo {
  margin: 0 20px;
}

.primary-right {
  display: flex;
  max-width: 200px;
  border-left: 1px solid;
  padding-left: 10px;
  background-color: yellow;
}
